[Unit]
Description=Blardem systemd service.

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/blarden-raspberry

[Install]
WantedBy=multi-user.target
