[Unit]
Description=Blarden systemd service.

[Service]
Type=simple
ExecStart=/usr/local/bin/blarden-raspberry
EnvironmentFile=/etc/blarden/blarden.conf
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
